{% extends 'master-page/master-page.html' %}
{% block title %} SharingCars {% endblock %}
{% block jumbotron %}{% load staticfiles bootstrap3 %}


    <div class="jumbotron">
        <form  method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="text-center">Registro de usuario</h2>
            {% if exceptionError %}
                <strong class="text-danger">{{ exceptionError }}</strong>
            {% endif %}
        <fieldset>

            {# Name #}
            <div class="col-lg-6">
                <div class="form-group-lg-6">
                    <label class="col-lg-12 control-label" for="{{ form.name.id }}">{{ form.name.label }}
                    {% for error in form.name.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    <div class="col-lg-12">
                        {{ form.name}}
                    </div>
                </div>
            </div>
            {# Name #}
            {# Surnames #}
            <div class="col-lg-6">
                <div class="form-group-lg-6">
                    <label class="col-lg-12 control-label" for="{{ form.surnames.id }}">{{ form.surnames.label }}
                    {% for error in form.surnames.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    <div class="col-lg-12">
                        {{ form.surnames}}
                    </div>
                </div>
            </div>
            {# Surnames #}
            {# Photo #}
            <div class="col-lg-6">
                <div class="form-group-lg-6">
                    <label class="col-lg-12 control-label" for="{{ form.photo.id }}">{{ form.photo.label }}
                    {% for error in form.photo.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    <div class="col-lg-12">
                        {{ form.photo}}
                    </div>
                </div>
            </div>
            {# Photo #}
            {# Bithdate #}
            <div class="col-lg-6">
                <div class="form-group-lg-6">
                    <label class="col-lg-12 control-label" for="{{ form.birthdate.id }}">{{ form.birthdate.label }}
                    {% for error in form.birthdate.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    <div class="col-lg-12">
                        {{ form.birthdate}}
                    </div>
                </div>
            </div>
            {# Bithdate #}
            {# Username #}
            <div class="col-lg-6">
                <div class="form-group-lg-6">
                    <label class="col-lg-12 control-label" for="{{ form.username.id }}">{{ form.username.label }}
                    {% for error in form.username.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    <div class="col-lg-12">
                        {{ form.username}}
                    </div>
                </div>
            </div>
            {# Username #}
            {# Password #}
            <div class="col-lg-6">
                <div class="form-group-lg-6">
                    <label class="col-lg-12 control-label" for="{{ form.password.id }}">{{ form.password.label }}
                    {% for error in form.password.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    <div class="col-lg-12">
                        {{ form.password}}
                    </div>
                </div>
            </div>
            {# Password #}
            {# Confirm_password #}
            <div class="col-lg-6">
                <div class="form-group-lg-6">
                    <label class="col-lg-12 control-label" for="{{ form.confirm_password.id }}">{{ form.confirm_password.label }}
                    {% for error in form.confirm_password.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    <div class="col-lg-12">
                        {{ form.confirm_password}}
                    </div>
                </div>
            </div>
            {# Confirm_password #}
            {# City #}
            <div class="col-lg-6">
                <div class="form-group-lg-6">
                    <label class="col-lg-12 control-label" for="{{ form.city.id }}">{{ form.city.label }}
                    {% for error in form.city.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    <div class="col-lg-12">
                        {{ form.city}}
                    </div>
                </div>
            </div>
            {# City #}
            {# Phone #}
            <div class="col-lg-6">
                <div class="form-group-lg-6">
                    <label class="col-lg-12 control-label" for="{{ form.phone.id }}">{{ form.phone.label }}
                    {% for error in form.phone.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    <div class="col-lg-12">
                        {{ form.phone}}
                    </div>
                </div>
            </div>
            {# Phone #}
            {# Email #}
            <div class="col-lg-6">
                <div class="form-group-lg-6">
                    <label class="col-lg-12 control-label" for="{{ form.email.id }}">{{ form.email.label }}
                    {% for error in form.email.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    <div class="col-lg-12">
                        {{ form.email}}
                    </div>
                </div>
            </div>
            {# Email #}

            <div class="col-lg-12"><br></div>
            <div class="col-lg-12 text-center">
                <button type="submit"  formaction="/user/save" class="btn btn-primary" ><span class="glyphicon glyphicon-floppy-saved"></span>  Guardar</button>
            </div>
        </fieldset>

        </form>
    </div>
{% endblock %}