{% extends 'master-page/master-page.html' %}
{% block title %} SharingCars {% endblock %}
{% block jumbotron %}{% load staticfiles bootstrap3 %}


    <div class="jumbotron">
        <form action="/announcement/user/save" method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="text-center">Crear un anuncio</h2>

        <fieldset>
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            {# Origin #}
            <div class="col-lg-6">
                <div class="form-group-lg-6">

                    <label class="col-lg-12 control-label" for="{{ form.origin.id }}">{{ form.origin.label }}
                    {% for error in form.origin.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    <div class="col-lg-12">
                        {{ form.origin}}
                    </div>
                </div>
            </div>
            {# Origin #}
            {# Destination #}
            <div class="col-lg-6">
                <div class="form-group-lg-6">
                    <label class="col-lg-12 control-label" for="{{ form.destination.id }}">{{ form.destination.label }}
                    {% for error in form.destination.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    </label>
                    <div class="col-lg-12">
                        {{ form.destination}}
                    </div>
                </div>
            </div>
            {# Destination #}
            <div class="col-lg-12"><br></div>
            {# Kind #}
            <div class="col-lg-4">
                <div class="form-group-lg-4">
                    <label class="col-lg-12 control-label" for="{{ form.kind.id }}">{{ form.kind.label }}
                    {% for error in form.kind.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    </label>
                    <div class="col-lg-12">
                        {{ form.kind }}
                    </div>
                </div>
            </div>
            {# Kind #}
            {# Seating #}
            <div class="col-lg-4">
                <div class="form-group-lg-4">
                    <label class="col-lg-12 control-label" for="{{ form.seating.id }}">{{ form.seating.label }}
                    {% for error in form.seating.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    </label>
                    <div class="col-lg-12">
                        {{ form.seating}}
                    </div>
                </div>
            </div>
            {# Seating #}
            {# Unit price #}
            <div class="col-lg-4">
                <div class="form-group-lg-4">
                    <label class="col-lg-12 control-label" for="{{ form.unitPrice.id }}">{{ form.unitPrice.label }}
                    {% for error in form.unitPrice.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    </label>
                    <div class="col-lg-12">
                        {{ form.unitPrice}}
                    </div>
                </div>
            </div>
            {# Unit price #}
            <div class="col-lg-12"><br></div>
            {# Date #}
            <div class="col-lg-6">
                <div class="form-group-lg-6">

                    <label class="col-lg-12 control-label" for="{{ form.date.id }}">{{ form.date.label }}
                    {% for error in form.date.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    <div class="col-lg-12">
                        {{ form.date}}
                    </div>
                </div>
            </div>
            {# Date #}
            {# DepartTime #}
            <div class="col-lg-6">
                <div class="form-group-lg-6">
                    <label class="col-lg-12 control-label" for="{{ form.departTime.id }}">{{ form.departTime.label }}
                    {% for error in form.departTime.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    <div class="col-lg-12 input-group clockpicker pr-15">
                        {{ form.departTime }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>
            {# DepartTime #}
            <div class="col-lg-12 text-center"><br></div>


            {# Description #}
            <div class="col-lg-12">
                <div class="form-group-lg-12">
                    <label class="col-lg-12 control-label" for="{{ form.description.id }}">{{ form.description.label }}
                    {% for error in form.description.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    <div class="col-lg-12">
                        {{ form.description}}
                    </div>
                </div>
            </div>
            {# Description #}
        </fieldset>
        <div class="col-lg-12"><br></div>
        {% buttons %}
            <button type="submit" class="btn btn-success center-block">
                <span class="glyphicon glyphicon-floppy-saved"></span>  Guardar ruta
            </button>
        {% endbuttons %}
        </form>
    </div>
{% endblock %}
