{% extends 'master-page/master-page.html' %}
{% block title %} SharingCars {% endblock %}
{% block jumbotron %}{% load staticfiles  %}
    <div class="jumbotron">
        <div class="col-lg-12">
        {% for route in routes %}
            <div class="col-lg-12">
                <div class="col-lg-3">
                    <div class="col-lg-12">
                        {% if route.user.photo == 'default' %}
                            <img class="img-circle img-responsive center-block"  src="{% static 'user/image/default.jpg' %}" style="width:auto;height:200px" alt="">
                        {% else %}
                            <img class="img-circle img-responsive center-block"  src="{% static route.user.photo %}" style="width:auto;height:200px" alt="">
                        {% endif %}
                    </div>
                    <div class="col-lg-12">
                        {{ route.user.name }}
                    </div>
                    <div class="col-lg-12">
                        {{ route.user.surnames|truncatechars:50 }}
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <b>Tipo de anuncio: </b> {% if route.kind == 1 %}Oferta{% else %}Demanda{% endif %}
                        </div>
                        <div class="col-lg-6">
                            <b>{{ route.unitPrice }}<span class="glyphicon glyphicon-euro" aria-hidden="true"></span> por persona  </b>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <b>Origen: </b>{{ route.origin }}
                        </div>
                        <div class="col-lg-6">
                            <b>Destino: </b>{{ route.destination }}
                        </div>
                    </div>
                </div>
            </div>
              <div class="col-lg-12"><br></div>
        {% endfor %}
        </div>
    </div>
{% endblock %}