{% extends 'master-page/master-page.html' %}
{% block title %} SharingCars {% endblock %}
{% block jumbotron %}{% load staticfiles bootstrap3 %}


    <div class="jumbotron">
        <form  method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="announcementId" value="{{ announcementId }}">
            <h2 class="text-center">Crear una parada para un anuncio</h2>

        <fieldset>
            {# Stop #}
            <div class="col-lg-12">
                <div class="form-group-lg-12">
                    {% if exceptionError %}
                        <strong class="text-danger">{{ exceptionError }}</strong>
                    {% endif %}
                    <label class="col-lg-12 control-label" for="{{ form.stop.id }}">{{ form.stop.label }}
                    {% for error in form.stop.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    <div class="col-lg-12">
                        {{ form.stop}}
                    </div>
                </div>
            </div>
            {# Stop #}
            <div class="col-lg-12"><br></div>
            <div class="col-lg-12 text-center">
                <button type="submit"  formaction="/announcement/user/saveMoreStop" class="btn btn-primary" ><span class="glyphicon glyphicon-floppy-saved"></span>  Guardar y seguir a&ntilde;adiendo</button>
                <button type="submit" formaction="/announcement/user/saveStop" class="btn btn-primary" ><span class="glyphicon glyphicon-floppy-saved"></span>  Guardar &uacute;ltima parada</button>
                <a class="btn btn-danger" href="/announcement/show?announcementId={{announcementId}}"><span class="glyphicon glyphicon-remove"></span>  Terminar</a>
            </div>
        </fieldset>

        </form>
    </div>
{% endblock %}
