{% extends 'master-page/master-page.html' %}
{% block title %} SharingCars {% endblock %}
{% block jumbotron %}{% load staticfiles bootstrap3 %}


    <div class="jumbotron">
        <form  method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="routeId" value="{{ routeId }}">
            <h2 class="text-center">Crear solicitud para el anuncio</h2>

        <fieldset>
            {# Comment #}
            <div class="col-lg-12">
                <div class="form-group-lg-12">
                    {% if exceptionError %}
                        <strong class="text-danger">{{ exceptionError }}</strong>
                    {% endif %}
                    <label class="col-lg-12 control-label" for="{{ form.comment.id }}">{{ form.comment.label }}
                    {% for error in form.comment.errors %}
                            - <strong class="text-danger">{{ error|escape }}</strong>
                    {% endfor %}
                    </label>
                    <div class="col-lg-12">
                        {{ form.comment}}
                    </div>
                </div>
            </div>
            {# Comment #}
            <div class="col-lg-12"><br></div>
            <div class="col-lg-12 text-center">
                <button type="submit"  formaction="/route/user/saveApply" class="btn btn-primary" ><span class="glyphicon glyphicon-floppy-saved"></span>Guardar solicitud</button>
            </div>
        </fieldset>

        </form>
    </div>
{% endblock %}